.input {
  padding: 7px 15px;
  color: var(--black);
  border: none;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.input:focus {
  outline: 2px solid var(--primary);
}

.input::placeholder {
  color: var(--gray);
}

.error {
  border: 1px solid var(--red) !important;
}

.error:focus {
  outline: 2px solid var(--red) !important;
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red);
}

.wrapper {
  position: relative;
}
