.thirdLevel {
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--gray-dark);
  font-weight: 500;
  font-size: 14px;
  display: block;
  outline-offset: -1px;
}

.active,
.thirdLevel:hover {
  color: var(--primary);
}
