.filled svg {
  fill: var(--primary);
}

.wrapper {
  position: relative;
}

.editable {
  cursor: pointer;
}

.error svg {
  stroke: var(--red);
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 100%;
  transform: translateX(-100%);
  color: var(--red);
  white-space: nowrap;
}
