.filled svg {
  fill: var(--primary);
}

.star {
  display: inline-block;
}

.wrapper {
  position: relative;
}

.editable {
  cursor: pointer;
}

.error svg {
  stroke: var(--red);
}

.errorMsg {
  position: absolute;
  color: var(--red);
  white-space: nowrap;
}
