.secondLevel {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray-dark);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.wrapper {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #dfdfdf;
}

.block {
  overflow: hidden;
}

/* 
.blockOpened:last-child {
  margin-bottom: 20px;
}

.blockOpened {
  display: block;
} */
